@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* * {
    margin: 0;
    padding: 0;
  } */

/* Shared styles */
.display-flex {
  display: flex;
}



/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  /* padding-left: 25px;
  padding-right: 30px; */
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  /* margin-right: 30px; */
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  gap: 30px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto
}

/* Banner styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.navbar,
.banner img {
  width: calc(100% - 240px);
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 22px;
}

.text-primary {
    color: #FF900E;
}
/* Dark-02 */
.text-gray {
  color: #424242
}

/* Dark-03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.10);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto
}

section {
  margin-top: 80px;
}

/* Team and Feature related styles */
.team {
  align-items: center;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-left: 190px;
}

.team-img {
  width: 225px;
  height: 225px;
}

.our-features {
  padding-top: 35px;
  margin-left: 85px;
  max-width: 354px;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
}

#quick-list {
    font-weight: 500;
}
/* Responsive media query */
@media screen and (max-width: 576px) {

  .navbar,
  .nav-link {
    flex-direction: column;
  }
}