@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* * {
    margin: 0;
    padding: 0;
  } */

/* Shared styles */
.display-flex {
  display: flex;
}



/* Navbar styles */
.navbar {
  /* margin-top: 30px; */
  justify-content: space-between;
  align-items: center;
  /* padding-left: 25px;
  padding-right: 30px; */
}

.brand {
  font-weight: 700;
  /* font-size: 3rem; */
}

.nav-item {
  list-style: none;
  /* margin-right: 30px; */
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  gap: 30px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto
}

/* Banner styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image-container {
  width: calc(100% - 240px);
  margin: 0 auto;
}
.banner img {
  width: 100%;
  /* width: calc(100% - 240px); */
  /* margin: 0 auto; */
  /* padding-left: 120px; */
  /* padding-right: 120px;
  padding-bottom: 22px; */
}

.text-primary {
  color: #FF900E;
}

/* Dark-02 */
.text-gray {
  color: #424242
}

/* Dark-03 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.10);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto
}

section {
  margin-top: 80px;
}

/* Team and Feature related styles */
.team {
  align-items: center;
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-left: 190px;
}

.team-img {
  width: 225px;
  height: 225px;
}

.our-features {
  padding-top: 35px;
  margin-left: 85px;
  max-width: 354px;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 700;
}

#quick-list {
  font-weight: 500;
}

/* Responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar,
  /* .nav-link, */
  .teams {
    flex-direction: column;
  }
  section {
  display: flex;
  gap: 5%;
  }
  .team-image-container {
    width: 45%;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    /* width: 45%; */
    margin-left: 20px;
  }

  .team-img {
    margin-left: 75px;
  }
  .nav-link {
    display: flex;
    /* justify-self: center; */
  }
  .brand {
    font-weight: 700;
    font-size: 1.5rem;
    /* margin-left: 0px; */
  }
  .banner-image-container {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  /* img {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  } */
}

/* Media Query for Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    padding-left: 0px;
  }

  .teams {
    flex-direction: column;
  }

  .team-image-container {
    padding-left: 0px;
    align-self: center;
    /* column-gap: 24px; */
    /* grid-template-columns: repeat(1, 1fr); */
  }
  .our-features {
    align-self: center;
    margin-left: 35px;
  }
}